@import '../../variables.scss';

.title {
  @include title;
}
.cart {
  &__items {
    margin-bottom: 50px;
  }
  &__item {
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 15px 0px;
    border-top: 1px solid $gold;
    border-bottom: 1px solid $gold;
    @media (max-width: 1170px) {
      gap: 20px;
    }
    @media (max-width: 935px) {
      flex-wrap: wrap;
      gap: 0;
      row-gap: 20px;
      flex-direction: column;
    }
  }
  &__delete {
    cursor: pointer;
    svg {
      path {
        transition: all 0.3s;
      }
    }
    &:hover {
      svg {
        path {
          fill: $gold;
        }
      }
    }
    @media (max-width: 1170px) {
      // flex: 0 1 50%;
    }
  }
  &__image {
    width: 100px;
    height: 100px;
    img {
      width: 100px;
      height: 100px;
    }
    @media (max-width: 1170px) {
      // flex: 0 1 50%;
    }
    @media (max-width: 935px) {
      // flex: 0 1 50%;
    }
  }
  &__name {
    font-size: 20px;
    font-weight: 600;
    flex: 0 1 400px;
    @media (max-width: 1170px) {
      font-size: 15px;
      flex: 0 1 300px;
    }
    @media (max-width: 935px) {
      flex: 0 1 100%;
    }
  }
  &__price {
    display: flex;
    align-items: center;
    gap: 10px;
    span {
      color: $gold;
      font-weight: 600;
    }
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__alldelete {
    font-weight: 900;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      color: $gold;
    }
  }
  &__allprice {
    font-size: 22px;
  }
  &__bottom {
    text-align: center;
  }
  &__button {
    font-size: 22px;
    font-weight: 600;
    padding: 13px 20px;
    border: 2px solid $gold;
    border-radius: 30px;
    transition: all 0.3s;
    &:hover {
      background-color: $gold;
    }
  }
}
.count {
  display: flex;
  align-items: center;
  gap: 15px;
}
.button {
  width: 35px;
  height: 35px;
  border: 2px solid $gold;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 600;
  transition: background-color 0.3s;
  &:hover {
    background-color: $gold-hover;
  }
  &:active {
    transform: translate(0, 2px);
  }
}
