@import '../../variables.scss';

.cards {
  padding-top: 30px;
  border-top: 1px solid $gold;
  &__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
    @media (max-width: $mob) {
      flex-direction: column;
      gap: 15px;
    }
  }
  &__items {
    @include cards-item;
  }
}
