@import '../../variables.scss';

.input {
  height: 39.5px;
  width: 300px;

  position: relative;

  @media (max-width: $mob) {
    width: 100%;
  }

  input {
    padding: 5px 10px 5px 40px;
    border: 2px solid $gold;
    border-radius: 10px;
    width: 100%;
    &:focus {
      border: 2px solid $gold-hover;
    }
  }
}
.icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(0%, -50%);
}
